nextcloud-calendar-workflow.json
{
  "name": "Nextcloud - Calendar Manager",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nextcloud-calendar",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "calendar-manager"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "action", "name": "action", "value": "={{ $('Webhook').first().json.body.action }}", "type": "string" },
            { "id": "body", "name": "body", "value": "={{ $('Webhook').first().json.body }}", "type": "object" }
          ]
        }
      },
      "id": "set-config",
      "name": "Set Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [470, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            { "conditions": { "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" }, "conditions": [{ "leftValue": "={{ $json.action }}", "rightValue": "fetch", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "Fetch" },
            { "conditions": { "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" }, "conditions": [{ "leftValue": "={{ $json.action }}", "rightValue": "create", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "Create" },
            { "conditions": { "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" }, "conditions": [{ "leftValue": "={{ $json.action }}", "rightValue": "update", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "Update" },
            { "conditions": { "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" }, "conditions": [{ "leftValue": "={{ $json.action }}", "rightValue": "delete", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "Delete" }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "switch-action",
      "name": "Switch Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [690, 300]
    },
    {
      "parameters": {
        "method": "REPORT",
        "url": "https://cloud.tal.ahmed-rezk.com/remote.php/dav/calendars/admin/personal/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Depth", "value": "1" }] },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/xml",
        "body": "=<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<c:calendar-query xmlns:d=\"DAV:\" xmlns:c=\"urn:ietf:params:xml:ns:caldav\">\n  <d:prop>\n    <d:getetag/>\n    <c:calendar-data/>\n  </d:prop>\n  <c:filter>\n    <c:comp-filter name=\"VCALENDAR\">\n      <c:comp-filter name=\"VEVENT\">\n        <c:time-range start=\"20250101T000000Z\" end=\"20261231T000000Z\"/>\n      </c:comp-filter>\n    </c:comp-filter>\n  </c:filter>\n</c:calendar-query>",
        "options": { "response": { "response": { "responseFormat": "text" } } }
      },
      "id": "fetch-events",
      "name": "Fetch Events",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [930, 100],
      "credentials": { "httpBasicAuth": { "id": "YOUR_CREDENTIAL_ID", "name": "Nextcloud API" } },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const xml = $input.first().json.data || '';\nconst events = [];\nconst calDataMatches = xml.match(/<cal:calendar-data[^>]*>([\\s\\S]*?)<\\/cal:calendar-data>/gi) || [];\nfor (const calDataMatch of calDataMatches) {\n  const calData = calDataMatch.replace(/<[^>]*>/g, '');\n  const veventMatch = calData.match(/BEGIN:VEVENT([\\s\\S]*?)END:VEVENT/);\n  if (!veventMatch) continue;\n  const vevent = veventMatch[0];\n  const extract = (tag) => { const m = vevent.match(new RegExp(`${tag}:(.*)`, 'i')); return m ? m[1].trim() : null; };\n  const dtstart = extract('DTSTART');\n  const isAllDay = dtstart && !dtstart.includes('T');\n  const parseICalDate = (d) => { if (!d) return null; d = d.replace(/Z$/, ''); if (d.length === 8) return `${d.substring(0,4)}-${d.substring(4,6)}-${d.substring(6,8)}`; return `${d.substring(0,4)}-${d.substring(4,6)}-${d.substring(6,8)}T${d.substring(9,11)}:${d.substring(11,13)}:${d.substring(13,15)}Z`; };\n  events.push({ uid: extract('UID'), title: extract('SUMMARY') || 'Untitled', description: extract('DESCRIPTION'), start: parseICalDate(dtstart), end: parseICalDate(extract('DTEND')), allDay: isAllDay, location: extract('LOCATION'), status: extract('STATUS') || 'CONFIRMED', priority: extract('PRIORITY') ? parseInt(extract('PRIORITY')) : null, categories: extract('CATEGORIES') ? extract('CATEGORIES').split(',').map(c => c.trim()) : [], recurrence: extract('RRULE'), calendar: 'personal' });\n}\nreturn [{ json: { success: true, events, count: events.length } }];"
      },
      "id": "parse-fetch",
      "name": "Parse Fetch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1150, 100]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://cloud.tal.ahmed-rezk.com/remote.php/dav/calendars/admin/personal/{{ Date.now() }}.ics",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/calendar",
        "body": "={{ $('Set Config').first().json.body.icsData || 'BEGIN:VCALENDAR\\r\\nVERSION:2.0\\r\\nPRODID:-//n8n//Nextcloud//EN\\r\\nBEGIN:VEVENT\\r\\nUID:n8n-event-{{ Date.now() }}\\r\\nDTSTAMP:{{ $now.toFormat(\"yyyyMMdd\\'T\\'HHmmss\\'Z\\'\") }}\\r\\nSUMMARY:{{ $json.body.title }}\\r\\nEND:VEVENT\\r\\nEND:VCALENDAR' }}",
        "options": {}
      },
      "id": "create-event",
      "name": "Create Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [930, 300],
      "credentials": { "httpBasicAuth": { "id": "YOUR_CREDENTIAL_ID", "name": "Nextcloud API" } },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const body = $('Set Config').first().json.body;\nreturn [{ json: { success: true, message: 'Event created!', event: { title: body.title, start: body.start, end: body.end } } }];"
      },
      "id": "format-create",
      "name": "Format Create",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1150, 300]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://cloud.tal.ahmed-rezk.com/remote.php/dav/calendars/admin/personal/{{ $('Set Config').first().json.body.eventUid }}.ics",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "id": "delete-event",
      "name": "Delete Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [930, 500],
      "credentials": { "httpBasicAuth": { "id": "YOUR_CREDENTIAL_ID", "name": "Nextcloud API" } },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { success: true, message: 'Event deleted!', eventUid: $('Set Config').first().json.body.eventUid } }];"
      },
      "id": "format-delete",
      "name": "Format Delete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1150, 500]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { success: false, message: 'Invalid action. Use: fetch, create, delete' } }];"
      },
      "id": "format-error",
      "name": "Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [930, 700]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Set Config", "type": "main", "index": 0 }]] },
    "Set Config": { "main": [[{ "node": "Switch Action", "type": "main", "index": 0 }]] },
    "Switch Action": { "main": [[{ "node": "Fetch Events", "type": "main", "index": 0 }], [{ "node": "Create Event", "type": "main", "index": 0 }], [{ "node": "Update Event", "type": "main", "index": 0 }], [{ "node": "Delete Event", "type": "main", "index": 0 }], [{ "node": "Error", "type": "main", "index": 0 }]] },
    "Fetch Events": { "main": [[{ "node": "Parse Fetch", "type": "main", "index": 0 }]] },
    "Create Event": { "main": [[{ "node": "Format Create", "type": "main", "index": 0 }]] },
    "Delete Event": { "main": [[{ "node": "Format Delete", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [],
  "triggerCount": 1
}
