nextcloud-create-event-workflow.json
{
  "name": "Nextcloud - Create Calendar Event",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nextcloud-create-event",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook - Create Event",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "create-event"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "nextcloud-url",
              "name": "nextcloudUrl",
              "value": "https://cloud.tal.ahmed-rezk.com",
              "type": "string"
            },
            {
              "id": "nextcloud-user",
              "name": "nextcloudUser",
              "value": "admin",
              "type": "string"
            }
          ]
        }
      },
      "id": "set-config",
      "name": "Set Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [470, 300]
    },
    {
      "parameters": {
        "jsCode": "// Build the ICS content for VEVENT (Calendar Event)\nconst body = $('Webhook - Create Event').first().json.body;\nconst eventId = Date.now();\n\n// Format date to iCal format (YYYYMMDDTHHMMSSZ)\nconst formatICalDate = (d) => {\n  const year = d.getUTCFullYear();\n  const month = String(d.getUTCMonth() + 1).padStart(2, '0');\n  const day = String(d.getUTCDate()).padStart(2, '0');\n  const hours = String(d.getUTCHours()).padStart(2, '0');\n  const minutes = String(d.getUTCMinutes()).padStart(2, '0');\n  const seconds = String(d.getUTCSeconds()).padStart(2, '0');\n  return `${year}${month}${day}T${hours}${minutes}${seconds}Z`;\n};\n\n// Format date to iCal date only (YYYYMMDD) for all-day events\nconst formatICalDateOnly = (d) => {\n  const year = d.getUTCFullYear();\n  const month = String(d.getUTCMonth() + 1).padStart(2, '0');\n  const day = String(d.getUTCDate()).padStart(2, '0');\n  return `${year}${month}${day}`;\n};\n\n// Parse date string to Date object\nconst parseDate = (dateStr) => {\n  if (!dateStr) return null;\n  const d = new Date(dateStr);\n  return isNaN(d.getTime()) ? null : d;\n};\n\n// Get calendar name (default to 'default')\nconst calendarName = body.calendar || 'default';\nconst now = new Date();\nconst dtstamp = formatICalDate(now);\n\n// Start and End dates\nconst startDate = parseDate(body.start);\nconst endDate = parseDate(body.end);\nconst isAllDay = body.allDay === true;\n\n// Build VEVENT content\nconst lines = [];\nlines.push('BEGIN:VCALENDAR');\nlines.push('VERSION:2.0');\nlines.push('PRODID:-//n8n//Nextcloud//EN');\nlines.push('CALSCALE:GREGORIAN');\nlines.push('BEGIN:VEVENT');\nlines.push(`UID:n8n-event-${eventId}`);\nlines.push(`DTSTAMP:${dtstamp}`);\n\n// SUMMARY (required)\nif (body.title) {\n  lines.push(`SUMMARY:${body.title}`);\n}\n\n// Start Date/Time\nif (startDate) {\n  if (isAllDay) {\n    lines.push(`DTSTART;VALUE=DATE:${formatICalDateOnly(startDate)}`);\n  } else {\n    lines.push(`DTSTART:${formatICalDate(startDate)}`);\n  }\n}\n\n// End Date/Time\nif (endDate) {\n  if (isAllDay) {\n    lines.push(`DTEND;VALUE=DATE:${formatICalDateOnly(endDate)}`);\n  } else {\n    lines.push(`DTEND:${formatICalDate(endDate)}`);\n  }\n} else if (startDate && !isAllDay) {\n  // Default to 1 hour event if no end date\n  const defaultEnd = new Date(startDate.getTime() + 60 * 60 * 1000);\n  lines.push(`DTEND:${formatICalDate(defaultEnd)}`);\n}\n\n// DESCRIPTION\nif (body.description) {\n  lines.push(`DESCRIPTION:${body.description}`);\n}\n\n// LOCATION\nif (body.location) {\n  lines.push(`LOCATION:${body.location}`);\n}\n\n// STATUS: TENTATIVE, CONFIRMED, CANCELLED\nif (body.status) {\n  const statusMap = {\n    'tentative': 'TENTATIVE',\n    'confirmed': 'CONFIRMED',\n    'cancelled': 'CANCELLED',\n    'TENTATIVE': 'TENTATIVE',\n    'CONFIRMED': 'CONFIRMED',\n    'CANCELLED': 'CANCELLED'\n  };\n  lines.push(`STATUS:${statusMap[body.status] || 'CONFIRMED'}`);\n} else {\n  lines.push('STATUS:CONFIRMED');\n}\n\n// TRANSPARENCY (OPAQUE = blocks time, TRANSPARENT = free)\nif (body.transparency) {\n  const transMap = {\n    'busy': 'OPAQUE',\n    'free': 'TRANSPARENT',\n    'OPAQUE': 'OPAQUE',\n    'TRANSPARENT': 'TRANSPARENT'\n  };\n  lines.push(`TRANSP:${transMap[body.transparency] || 'OPAQUE'}`);\n} else {\n  lines.push('TRANSP:OPAQUE');\n}\n\n// PRIORITY (1=highest, 9=lowest)\nif (body.priority !== undefined && body.priority !== null) {\n  const priority = Math.min(9, Math.max(1, parseInt(body.priority)));\n  lines.push(`PRIORITY:${priority}`);\n}\n\n// CATEGORIES\nif (body.categories) {\n  const cats = Array.isArray(body.categories) ? body.categories.join(',') : body.categories;\n  lines.push(`CATEGORIES:${cats}`);\n}\n\n// URL\nif (body.url) {\n  lines.push(`URL:${body.url}`);\n}\n\n// RRULE (Recurrence Rule)\nif (body.recurrence) {\n  lines.push(`RRULE:${body.recurrence}`);\n}\n\n// EXDATE (Exception Dates - dates to exclude from recurrence)\nif (body.exceptions) {\n  const exdates = Array.isArray(body.exceptions) ? body.exceptions : [body.exceptions];\n  exdates.forEach(date => {\n    const d = parseDate(date);\n    if (d) lines.push(`EXDATE:${formatICalDate(d)}`);\n  });\n}\n\n// ATTENDEES\nif (body.attendees) {\n  const attendees = Array.isArray(body.attendees) ? body.attendees : [body.attendees];\n  attendees.forEach(attendee => {\n    if (attendee.email) {\n      const cn = attendee.name ? `CN=${attendee.name};` : '';\n      const partstat = attendee.status || 'NEEDS-ACTION';\n      lines.push(`ATTENDEE;${cn}CUTYPE=INDIVIDUAL;ROLE=REQ-PARTICIPANT;PARTSTAT=${partstat}:mailto:${attendee.email}`);\n    }\n  });\n}\n\n// ORGANIZER\nif (body.organizer) {\n  if (body.organizer.email) {\n    const cn = body.organizer.name ? `CN=${body.organizer.name};` : '';\n    lines.push(`ORGANIZER;${cn}mailto:${body.organizer.email}`);\n  }\n}\n\n// ALARMS (Reminders)\nif (body.reminders) {\n  const reminders = Array.isArray(body.reminders) ? body.reminders : [body.reminders];\n  reminders.forEach(reminder => {\n    const minutes = reminder.minutes || 15;\n    const action = reminder.action || 'DISPLAY';\n    const description = reminder.description || body.title || 'Reminder';\n    lines.push('BEGIN:VALARM');\n    lines.push('ACTION:' + action);\n    lines.push('DESCRIPTION:' + description);\n    lines.push(`TRIGGER:-PT${minutes}M`);\n    lines.push('END:VALARM');\n  });\n} else {\n  // Default reminder: 15 minutes before\n  lines.push('BEGIN:VALARM');\n  lines.push('ACTION:DISPLAY');\n  lines.push('DESCRIPTION:Reminder');\n  lines.push('TRIGGER:-PT15M');\n  lines.push('END:VALARM');\n}\n\n// SEQUENCE (for tracking event versions)\nif (body.sequence !== undefined) {\n  lines.push(`SEQUENCE:${body.sequence}`);\n} else {\n  lines.push('SEQUENCE:0');\n}\n\nlines.push('END:VEVENT');\nlines.push('END:VCALENDAR');\n\n// Join with CRLF (required by iCal spec)\nconst icsBody = lines.join('\\r\\n');\n\nreturn [{\n  json: {\n    nextcloudUrl: $('Set Config').first().json.nextcloudUrl,\n    nextcloudUser: $('Set Config').first().json.nextcloudUser,\n    calendarName,\n    icsBody\n  }\n}];"
      },
      "id": "build-ics",
      "name": "Build ICS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $json.nextcloudUrl }}/remote.php/dav/calendars/{{ $json.nextcloudUser }}/{{ $json.calendarName }}/{{ Date.now() }}.ics",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/calendar",
        "body": "={{ $json.icsBody }}",
        "options": {}
      },
      "id": "create-event",
      "name": "Create Event in Nextcloud",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 300],
      "credentials": {
        "httpBasicAuth": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Nextcloud API"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first();\nconst body = $('Webhook - Create Event').first().json.body;\n\nif (response.json.statusCode === 201 || response.json.statusCode === 204 || !response.json.error) {\n  return [{\n    json: {\n      success: true,\n      message: 'Calendar event created successfully!',\n      event: {\n        title: body.title,\n        start: body.start || null,\n        end: body.end || null,\n        allDay: body.allDay || false,\n        location: body.location || null,\n        description: body.description || null,\n        status: body.status || 'confirmed',\n        calendar: body.calendar || 'default',\n        recurrence: body.recurrence || null,\n        attendees: body.attendees || [],\n        reminders: body.reminders || [{ minutes: 15 }]\n      }\n    }\n  }];\n} else {\n  return [{\n    json: {\n      success: false,\n      message: 'Failed to create calendar event',\n      error: response.json\n    }\n  }];\n}"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1130, 300]
    }
  ],
  "connections": {
    "Webhook - Create Event": {
      "main": [
        [
          {
            "node": "Set Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Config": {
      "main": [
        [
          {
            "node": "Build ICS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build ICS": {
      "main": [
        [
          {
            "node": "Create Event in Nextcloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Event in Nextcloud": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1
}
