nextcloud-simple-workflow.json
{
  "name": "Nextcloud Tasks - Simple",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "nextcloud-tasks",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook - Get Tasks",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "get-tasks"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "nextcloud-url",
              "name": "nextcloudUrl",
              "value": "https://cloud.tal.ahmed-rezk.com",
              "type": "string"
            },
            {
              "id": "nextcloud-user",
              "name": "nextcloudUser",
              "value": "admin",
              "type": "string"
            }
          ]
        }
      },
      "id": "set-config",
      "name": "Set Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.nextcloudUrl }}/remote.php/dav/calendars/{{ $json.nextcloudUser }}/tasks/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Depth",
              "value": "1"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "get-tasks",
      "name": "Get Tasks from Nextcloud",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 300],
      "credentials": {
        "httpBasicAuth": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Nextcloud API"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Parse CalDAV XML response with all properties\nconst xml = $input.first().json.data || '';\n\nconst tasks = [];\n\n// Match VTODO blocks\nconst vtodoMatches = xml.match(/<cal:VTODO[^>]*>[\\s\\S]*?<\\/cal:VTODO>/gi) || [];\n\nfor (const vtodo of vtodoMatches) {\n  // Helper to extract value\n  const extract = (tag) => {\n    const match = vtodo.match(new RegExp(`<cal:${tag}[^>]*>([^<]*)<\\\\/${tag}>`, 'i'));\n    return match ? match[1] : null;\n  };\n  \n  // Extract all properties\n  const uid = extract('UID');\n  const summary = extract('SUMMARY');\n  const description = extract('DESCRIPTION');\n  const status = extract('STATUS');\n  const due = extract('DTEND');\n  const dtstart = extract('DTSTART');\n  const completed = extract('COMPLETED');\n  const priority = extract('PRIORITY');\n  const percentComplete = extract('PERCENT-COMPLETE');\n  const categories = extract('CATEGORIES');\n  const duration = extract('DURATION');\n  const url = extract('URL');\n  const location = extract('LOCATION');\n  \n  // Extract RELATED-TO\n  const relatedToMatch = vtodo.match(/<cal:RELATED-TO[^>]*>([^<]*)<\\/cal:RELATED-TO>/i);\n  const parentTaskUid = relatedToMatch ? relatedToMatch[1] : null;\n  \n  // Extract RRULE\n  const rruleMatch = vtodo.match(/<cal:RRULE[^>]*>([^<]*)<\\/cal:RRULE>/i);\n  const recurrence = rruleMatch ? rruleMatch[1] : null;\n  \n  // Extract href for task ID\n  const hrefMatch = vtodo.match(/<d:href>([^<]*)<\\/d:href>/i);\n  const href = hrefMatch ? hrefMatch[1] : null;\n  \n  tasks.push({\n    uid: uid || 'unknown',\n    title: summary || 'Untitled',\n    description: description || null,\n    status: status || 'NEEDS-ACTION',\n    due: due || null,\n    startDate: dtstart || null,\n    completed: completed || null,\n    priority: priority ? parseInt(priority) : null,\n    percentComplete: percentComplete ? parseInt(percentComplete) : null,\n    categories: categories ? categories.split(',').map(c => c.trim()) : [],\n    parentTaskUid: parentTaskUid || null,\n    duration: duration || null,\n    recurrence: recurrence || null,\n    url: url || null,\n    location: location || null,\n    href: href || null\n  });\n}\n\nreturn [{ json: { tasks, count: tasks.length } }];"
      },
      "id": "parse-xml",
      "name": "Parse Tasks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 300]
    }
  ],
  "connections": {
    "Webhook - Get Tasks": {
      "main": [
        [
          {
            "node": "Set Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Config": {
      "main": [
        [
          {
            "node": "Get Tasks from Nextcloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Tasks from Nextcloud": {
      "main": [
        [
          {
            "node": "Parse Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1
}
