nextcloud-update-event-workflow.json
{
  "name": "Nextcloud - Update Calendar Event",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nextcloud-update-event",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook - Update Event",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "update-event"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "nextcloud-url",
              "name": "nextcloudUrl",
              "value": "https://cloud.tal.ahmed-rezk.com",
              "type": "string"
            },
            {
              "id": "nextcloud-user",
              "name": "nextcloudUser",
              "value": "admin",
              "type": "string"
            },
            {
              "id": "default-calendar",
              "name": "defaultCalendar",
              "value": "personal",
              "type": "string"
            }
          ]
        }
      },
      "id": "set-config",
      "name": "Set Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [470, 300]
    },
    {
      "parameters": {
        "jsCode": "// Build the ICS content for VEVENT update\nconst body = $('Webhook - Update Event').first().json.body;\nconst nextcloudUrl = $('Set Config').first().json.nextcloudUrl;\nconst nextcloudUser = $('Set Config').first().json.nextcloudUser;\nconst defaultCalendar = $('Set Config').first().json.defaultCalendar;\n\n// Required: eventUid (UID of event to update)\nif (!body.eventUid) {\n  return [{ json: { error: 'eventUid is required' } }];\n}\n\n// Format date to iCal format (YYYYMMDDTHHMMSSZ)\nconst formatICalDate = (d) => {\n  const year = d.getUTCFullYear();\n  const month = String(d.getUTCMonth() + 1).padStart(2, '0');\n  const day = String(d.getUTCDate()).padStart(2, '0');\n  const hours = String(d.getUTCHours()).padStart(2, '0');\n  const minutes = String(d.getUTCMinutes()).padStart(2, '0');\n  const seconds = String(d.getUTCSeconds()).padStart(2, '0');\n  return `${year}${month}${day}T${hours}${minutes}${seconds}Z`;\n};\n\n// Format date to iCal date only (YYYYMMDD) for all-day events\nconst formatICalDateOnly = (d) => {\n  const year = d.getUTCFullYear();\n  const month = String(d.getUTCMonth() + 1).padStart(2, '0');\n  const day = String(d.getUTCDate()).padStart(2, '0');\n  return `${year}${month}${day}`;\n};\n\n// Parse date string to Date object\nconst parseDate = (dateStr) => {\n  if (!dateStr) return null;\n  const d = new Date(dateStr);\n  return isNaN(d.getTime()) ? null : d;\n};\n\nconst calendarName = body.calendar || defaultCalendar;\nconst now = new Date();\nconst dtstamp = formatICalDate(now);\n\n// Start and End dates\nconst startDate = parseDate(body.start);\nconst endDate = parseDate(body.end);\nconst isAllDay = body.allDay === true;\nconst sequence = (body.sequence || 0) + 1; // Increment sequence on update\n\n// Build VEVENT content\nconst lines = [];\nlines.push('BEGIN:VCALENDAR');\nlines.push('VERSION:2.0');\nlines.push('PRODID:-//n8n//Nextcloud//EN');\nlines.push('CALSCALE:GREGORIAN');\nlines.push('BEGIN:VEVENT');\nlines.push(`UID:${body.eventUid}`);\nlines.push(`DTSTAMP:${dtstamp}`);\n\n// SUMMARY\nif (body.title !== undefined) {\n  lines.push(`SUMMARY:${body.title}`);\n}\n\n// Start Date/Time\nif (startDate) {\n  if (isAllDay) {\n    lines.push(`DTSTART;VALUE=DATE:${formatICalDateOnly(startDate)}`);\n  } else {\n    lines.push(`DTSTART:${formatICalDate(startDate)}`);\n  }\n}\n\n// End Date/Time\nif (endDate) {\n  if (isAllDay) {\n    lines.push(`DTEND;VALUE=DATE:${formatICalDateOnly(endDate)}`);\n  } else {\n    lines.push(`DTEND:${formatICalDate(endDate)}`);\n  }\n}\n\n// DESCRIPTION\nif (body.description !== undefined) {\n  lines.push(`DESCRIPTION:${body.description}`);\n}\n\n// LOCATION\nif (body.location !== undefined) {\n  lines.push(`LOCATION:${body.location}`);\n}\n\n// STATUS\nif (body.status) {\n  const statusMap = {\n    'tentative': 'TENTATIVE',\n    'confirmed': 'CONFIRMED',\n    'cancelled': 'CANCELLED'\n  };\n  lines.push(`STATUS:${statusMap[body.status] || body.status}`);\n}\n\n// TRANSPARENCY\nif (body.transparency) {\n  const transMap = { 'busy': 'OPAQUE', 'free': 'TRANSPARENT' };\n  lines.push(`TRANSP:${transMap[body.transparency] || body.transparency}`);\n}\n\n// PRIORITY\nif (body.priority !== undefined && body.priority !== null) {\n  lines.push(`PRIORITY:${Math.min(9, Math.max(1, parseInt(body.priority)))}`);\n}\n\n// CATEGORIES\nif (body.categories) {\n  const cats = Array.isArray(body.categories) ? body.categories.join(',') : body.categories;\n  lines.push(`CATEGORIES:${cats}`);\n}\n\n// URL\nif (body.url !== undefined) {\n  lines.push(`URL:${body.url}`);\n}\n\n// RRULE\nif (body.recurrence !== undefined) {\n  if (body.recurrence) {\n    lines.push(`RRULE:${body.recurrence}`);\n  }\n}\n\n// ATTENDEES\nif (body.attendees) {\n  const attendees = Array.isArray(body.attendees) ? body.attendees : [body.attendees];\n  attendees.forEach(attendee => {\n    if (attendee.email) {\n      const cn = attendee.name ? `CN=${attendee.name};` : '';\n      const partstat = attendee.status || 'NEEDS-ACTION';\n      lines.push(`ATTENDEE;${cn}CUTYPE=INDIVIDUAL;ROLE=REQ-PARTICIPANT;PARTSTAT=${partstat}:mailto:${attendee.email}`);\n    }\n  });\n}\n\n// ORGANIZER\nif (body.organizer && body.organizer.email) {\n  const cn = body.organizer.name ? `CN=${body.organizer.name};` : '';\n  lines.push(`ORGANIZER;${cn}mailto:${body.organizer.email}`);\n}\n\n// SEQUENCE\nlines.push(`SEQUENCE:${sequence}`);\n\nlines.push('END:VEVENT');\nlines.push('END:VCALENDAR');\n\nconst icsBody = lines.join('\\r\\n');\nconst eventUrl = `${nextcloudUrl}/remote.php/dav/calendars/${nextcloudUser}/${calendarName}/${body.eventUid}.ics`;\n\nreturn [{\n  json: {\n    eventUrl,\n    icsBody,\n    sequence\n  }\n}];"
      },
      "id": "build-ics",
      "name": "Build ICS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $json.eventUrl }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/calendar",
        "body": "={{ $json.icsBody }}",
        "options": {}
      },
      "id": "update-event",
      "name": "Update Event in Nextcloud",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 300],
      "credentials": {
        "httpBasicAuth": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Nextcloud API"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first();\nconst body = $('Webhook - Update Event').first().json.body;\nconst buildResult = $('Build ICS').first().json;\n\nif (response.json.statusCode === 201 || response.json.statusCode === 204 || !response.json.error) {\n  return [{\n    json: {\n      success: true,\n      message: 'Calendar event updated successfully!',\n      event: {\n        uid: body.eventUid,\n        title: body.title || null,\n        start: body.start || null,\n        end: body.end || null,\n        location: body.location || null,\n        sequence: buildResult.sequence\n      }\n    }\n  }];\n} else {\n  return [{\n    json: {\n      success: false,\n      message: 'Failed to update calendar event',\n      error: response.json\n    }\n  }];\n}"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1130, 300]
    }
  ],
  "connections": {
    "Webhook - Update Event": {
      "main": [
        [
          {
            "node": "Set Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Config": {
      "main": [
        [
          {
            "node": "Build ICS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build ICS": {
      "main": [
        [
          {
            "node": "Update Event in Nextcloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Event in Nextcloud": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1
}
