nextcloud-calendar-workflow.json
{
  "name": "Nextcloud - Calendar Manager",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nextcloud-calendar",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "calendar-manager"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "action", "name": "action", "value": "={{ $('Webhook').first().json.body.action }}", "type": "string" },
            { "id": "body", "name": "body", "value": "={{ $('Webhook').first().json.body }}", "type": "object" }
          ]
        }
      },
      "id": "set-config",
      "name": "Set Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [470, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            { "conditions": { "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" }, "conditions": [{ "leftValue": "={{ $json.action }}", "rightValue": "fetch", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "Fetch" },
            { "conditions": { "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" }, "conditions": [{ "leftValue": "={{ $json.action }}", "rightValue": "create", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "Create" },
            { "conditions": { "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" }, "conditions": [{ "leftValue": "={{ $json.action }}", "rightValue": "delete", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "Delete" }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "switch-action",
      "name": "Switch Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [690, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://cloud.tal.ahmed-rezk.com/remote.php/dav/calendars/admin/personal/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Depth", "value": "1" }] },
        "options": { "response": { "response": { "responseFormat": "text" } } }
      },
      "id": "list-files",
      "name": "List Calendar Files",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [930, 100],
      "credentials": { "httpBasicAuth": { "id": "YOUR_CREDENTIAL_ID", "name": "Nextcloud API" } },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const xml = $input.first().json.data || '';\nconst fileMatches = xml.match(/<d:href>([^<]*\\.ics)<\\/d:href>/gi) || [];\nconst files = fileMatches.map(m => m.match(/<d:href>([^<]*)<\\/d:href>/i)[1]);\nreturn [{ json: { files, count: files.length } }];"
      },
      "id": "parse-files",
      "name": "Parse Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1150, 100]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://cloud.tal.ahmed-rezk.com/remote.php/dav/calendars/admin/personal/{{ Date.now() }}.ics",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/calendar",
        "body": "={{ 'BEGIN:VCALENDAR\\r\\nVERSION:2.0\\r\\nPRODID:-//n8n//Nextcloud//EN\\r\\nBEGIN:VEVENT\\r\\nUID:n8n-event-' + Date.now() + '\\r\\nDTSTAMP:' + $now.toFormat(\"yyyyMMdd'T'HHmmss'Z'\") + '\\r\\nSUMMARY:' + $('Set Config').first().json.body.title + '\\r\\nSTATUS:CONFIRMED\\r\\nBEGIN:VALARM\\r\\nACTION:DISPLAY\\r\\nDESCRIPTION:Reminder\\r\\nTRIGGER:-PT15M\\r\\nEND:VALARM\\r\\nEND:VEVENT\\r\\nEND:VCALENDAR' }}",
        "options": {}
      },
      "id": "create-event",
      "name": "Create Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [930, 300],
      "credentials": { "httpBasicAuth": { "id": "YOUR_CREDENTIAL_ID", "name": "Nextcloud API" } },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const body = $('Set Config').first().json.body;\nreturn [{ json: { success: true, message: 'Event created!', event: { title: body.title, uid: 'n8n-event-' + Date.now() } } }];"
      },
      "id": "format-create",
      "name": "Format Create",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1150, 300]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://cloud.tal.ahmed-rezk.com/remote.php/dav/calendars/admin/personal/{{ $('Set Config').first().json.body.eventUid }}.ics",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "id": "delete-event",
      "name": "Delete Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [930, 500],
      "credentials": { "httpBasicAuth": { "id": "YOUR_CREDENTIAL_ID", "name": "Nextcloud API" } },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { success: true, message: 'Event deleted!', eventUid: $('Set Config').first().json.body.eventUid } }];"
      },
      "id": "format-delete",
      "name": "Format Delete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1150, 500]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { success: false, message: 'Invalid action. Use: fetch, create, delete' } }];"
      },
      "id": "format-error",
      "name": "Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [930, 700]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Set Config", "type": "main", "index": 0 }]] },
    "Set Config": { "main": [[{ "node": "Switch Action", "type": "main", "index": 0 }]] },
    "Switch Action": { "main": [[{ "node": "List Calendar Files", "type": "main", "index": 0 }], [{ "node": "Create Event", "type": "main", "index": 0 }], [{ "node": "Delete Event", "type": "main", "index": 0 }], [{ "node": "Error", "type": "main", "index": 0 }]] },
    "List Calendar Files": { "main": [[{ "node": "Parse Files", "type": "main", "index": 0 }]] },
    "Create Event": { "main": [[{ "node": "Format Create", "type": "main", "index": 0 }]] },
    "Delete Event": { "main": [[{ "node": "Format Delete", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [],
  "triggerCount": 1
}
