nextcloud-tasks-workflow.json
{
  "name": "Nextcloud - Tasks Manager",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nextcloud-tasks",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "tasks-manager"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "action", "name": "action", "value": "={{ $('Webhook').first().json.body.action }}", "type": "string" },
            { "id": "body", "name": "body", "value": "={{ $('Webhook').first().json.body }}", "type": "object" }
          ]
        }
      },
      "id": "set-config",
      "name": "Set Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [470, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            { "conditions": { "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" }, "conditions": [{ "leftValue": "={{ $json.action }}", "rightValue": "fetch", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "Fetch" },
            { "conditions": { "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" }, "conditions": [{ "leftValue": "={{ $json.action }}", "rightValue": "create", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "Create" },
            { "conditions": { "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" }, "conditions": [{ "leftValue": "={{ $json.action }}", "rightValue": "update", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "Update" },
            { "conditions": { "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" }, "conditions": [{ "leftValue": "={{ $json.action }}", "rightValue": "delete", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "Delete" }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "switch-action",
      "name": "Switch Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [690, 300]
    },
    {
      "parameters": {
        "jsCode": "const nextcloudUrl = 'https://cloud.tal.ahmed-rezk.com';\nconst nextcloudUser = 'admin';\nconst auth = Buffer.from('admin:4EMsB-kQLNn-YdnCC-9Dd6Z-GA9jj').toString('base64');\n\ntry {\n  const response = await this.helpers.httpRequest({\n    method: 'PROPFIND',\n    url: `${nextcloudUrl}/remote.php/dav/calendars/${nextcloudUser}/tasks/`,\n    headers: { 'Authorization': `Basic ${auth}`, 'Content-Type': 'application/xml', 'Depth': '1' },\n    body: '<?xml version=\"1.0\"?><d:propfind xmlns:d=\"DAV:\"><d:prop><d:getetag/></d:prop></d:propfind>',\n    returnFullResponse: true\n  });\n  \n  const xml = response.body || response.data || '';\n  const files = [];\n  const hrefMatches = xml.match(/<d:href>([^<]*\\.ics)<\\/d:href>/gi) || [];\n  for (const m of hrefMatches) {\n    const href = m.match(/<d:href>([^<]*)<\\/d:href>/i)[1];\n    const filename = href.split('/').pop().replace('.ics', '');\n    files.push({ filename, href });\n  }\n  return [{ json: { success: true, files, count: files.length } }];\n} catch (error) {\n  return [{ json: { success: false, error: error.message } }];\n}"
      },
      "id": "fetch-tasks",
      "name": "Fetch Tasks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [930, 100]
    },
    {
      "parameters": {
        "jsCode": "const nextcloudUrl = 'https://cloud.tal.ahmed-rezk.com';\nconst nextcloudUser = 'admin';\nconst auth = Buffer.from('admin:4EMsB-kQLNn-YdnCC-9Dd6Z-GA9jj').toString('base64');\nconst body = $('Set Config').first().json.body;\nconst taskId = Date.now();\n\nconst formatICalDate = (d) => {\n  const pad = (n) => String(n).padStart(2, '0');\n  return `${d.getUTCFullYear()}${pad(d.getUTCMonth()+1)}${pad(d.getUTCDate())}T${pad(d.getUTCHours())}${pad(d.getUTCMinutes())}${pad(d.getUTCSeconds())}Z`;\n};\nconst parseDate = (s) => { if (!s) return null; const d = new Date(s); return isNaN(d.getTime()) ? null : d; };\n\nconst now = new Date();\nconst lines = ['BEGIN:VCALENDAR','VERSION:2.0','PRODID:-//n8n//Nextcloud//EN','BEGIN:VTODO',`UID:n8n-task-${taskId}`,`DTSTAMP:${formatICalDate(now)}`];\n\nif (body.title) lines.push(`SUMMARY:${body.title}`);\nif (body.description) lines.push(`DESCRIPTION:${body.description}`);\nif (body.due) { const d = parseDate(body.due); if (d) lines.push(`DUE:${formatICalDate(d)}`); }\nif (body.startDate) { const d = parseDate(body.startDate); if (d) lines.push(`DTSTART:${formatICalDate(d)}`); }\nif (body.completed) { const d = parseDate(body.completed); if (d) lines.push(`COMPLETED:${formatICalDate(d)}`); }\n\nif (body.status) {\n  const statusMap = { 'todo': 'NEEDS-ACTION', 'in-progress': 'IN-PROCESS', 'completed': 'COMPLETED', 'cancelled': 'CANCELLED' };\n  lines.push(`STATUS:${statusMap[body.status] || body.status}`);\n} else {\n  lines.push('STATUS:NEEDS-ACTION');\n}\n\nif (body.priority !== undefined) lines.push(`PRIORITY:${Math.min(9, Math.max(1, parseInt(body.priority)))}`);\nif (body.percentComplete !== undefined) lines.push(`PERCENT-COMPLETE:${Math.min(100, Math.max(0, parseInt(body.percentComplete)))}`);\nif (body.categories) lines.push(`CATEGORIES:${Array.isArray(body.categories) ? body.categories.join(',') : body.categories}`);\nif (body.parentTaskUid) lines.push(`RELATED-TO;RELTYPE=PARENT:${body.parentTaskUid}`);\nif (body.duration) lines.push(`DURATION:${body.duration}`);\nif (body.recurrence) lines.push(`RRULE:${body.recurrence}`);\nif (body.location) lines.push(`LOCATION:${body.location}`);\n\nlines.push('END:VTODO','END:VCALENDAR');\n\nconst taskUrl = `${nextcloudUrl}/remote.php/dav/calendars/${nextcloudUser}/tasks/${taskId}.ics`;\n\ntry {\n  const response = await this.helpers.httpRequest({\n    method: 'PUT',\n    url: taskUrl,\n    headers: { 'Authorization': `Basic ${auth}`, 'Content-Type': 'text/calendar' },\n    body: lines.join('\\r\\n')\n  });\n  return [{ json: { success: true, message: 'Task created!', task: { uid: `n8n-task-${taskId}`, title: body.title, description: body.description || null, due: body.due || null, status: body.status || 'NEEDS-ACTION', priority: body.priority || null } } }];\n} catch (error) {\n  return [{ json: { success: false, error: error.message } }];\n}"
      },
      "id": "create-task",
      "name": "Create Task",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [930, 300]
    },
    {
      "parameters": {
        "jsCode": "const nextcloudUrl = 'https://cloud.tal.ahmed-rezk.com';\nconst nextcloudUser = 'admin';\nconst auth = Buffer.from('admin:4EMsB-kQLNn-YdnCC-9Dd6Z-GA9jj').toString('base64');\nconst body = $('Set Config').first().json.body;\n\nif (!body.taskUid) return [{ json: { success: false, message: 'taskUid required' } }];\n\nconst formatICalDate = (d) => {\n  const pad = (n) => String(n).padStart(2, '0');\n  return `${d.getUTCFullYear()}${pad(d.getUTCMonth()+1)}${pad(d.getUTCDate())}T${pad(d.getUTCHours())}${pad(d.getUTCMinutes())}${pad(d.getUTCSeconds())}Z`;\n};\nconst parseDate = (s) => { if (!s) return null; const d = new Date(s); return isNaN(d.getTime()) ? null : d; };\nconst now = new Date();\n\nconst lines = ['BEGIN:VCALENDAR','VERSION:2.0','PRODID:-//n8n//Nextcloud//EN','BEGIN:VTODO',`UID:${body.taskUid}`,`DTSTAMP:${formatICalDate(now)}`];\n\nif (body.title !== undefined) lines.push(`SUMMARY:${body.title}`);\nif (body.description !== undefined) lines.push(`DESCRIPTION:${body.description}`);\nif (body.due) { const d = parseDate(body.due); if (d) lines.push(`DUE:${formatICalDate(d)}`); }\n\nif (body.status) {\n  const statusMap = { 'todo': 'NEEDS-ACTION', 'in-progress': 'IN-PROCESS', 'completed': 'COMPLETED', 'cancelled': 'CANCELLED' };\n  lines.push(`STATUS:${statusMap[body.status] || body.status}`);\n  if (body.status === 'completed' || body.status === 'COMPLETED') lines.push(`COMPLETED:${formatICalDate(now)}`);\n}\n\nif (body.priority !== undefined) lines.push(`PRIORITY:${Math.min(9, Math.max(1, parseInt(body.priority)))}`);\nif (body.percentComplete !== undefined) lines.push(`PERCENT-COMPLETE:${Math.min(100, Math.max(0, parseInt(body.percentComplete)))}`);\nif (body.categories) lines.push(`CATEGORIES:${Array.isArray(body.categories) ? body.categories.join(',') : body.categories}`);\n\nlines.push('END:VTODO','END:VCALENDAR');\n\nconst taskUrl = `${nextcloudUrl}/remote.php/dav/calendars/${nextcloudUser}/tasks/${body.taskUid}.ics`;\n\ntry {\n  await this.helpers.httpRequest({\n    method: 'PUT',\n    url: taskUrl,\n    headers: { 'Authorization': `Basic ${auth}`, 'Content-Type': 'text/calendar' },\n    body: lines.join('\\r\\n')\n  });\n  return [{ json: { success: true, message: 'Task updated!', task: { uid: body.taskUid, title: body.title || null, status: body.status || null, priority: body.priority || null } } }];\n} catch (error) {\n  return [{ json: { success: false, error: error.message } }];\n}"
      },
      "id": "update-task",
      "name": "Update Task",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [930, 500]
    },
    {
      "parameters": {
        "jsCode": "const nextcloudUrl = 'https://cloud.tal.ahmed-rezk.com';\nconst nextcloudUser = 'admin';\nconst auth = Buffer.from('admin:4EMsB-kQLNn-YdnCC-9Dd6Z-GA9jj').toString('base64');\nconst body = $('Set Config').first().json.body;\n\nif (!body.taskUid) return [{ json: { success: false, message: 'taskUid required' } }];\n\nconst taskUrl = `${nextcloudUrl}/remote.php/dav/calendars/${nextcloudUser}/tasks/${body.taskUid}.ics`;\n\ntry {\n  await this.helpers.httpRequest({\n    method: 'DELETE',\n    url: taskUrl,\n    headers: { 'Authorization': `Basic ${auth}` }\n  });\n  return [{ json: { success: true, message: 'Task deleted!', taskUid: body.taskUid } }];\n} catch (error) {\n  return [{ json: { success: false, error: error.message } }];\n}"
      },
      "id": "delete-task",
      "name": "Delete Task",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [930, 700]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { success: false, message: 'Invalid action. Use: fetch, create, update, delete' } }];"
      },
      "id": "format-error",
      "name": "Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [930, 900]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Set Config", "type": "main", "index": 0 }]] },
    "Set Config": { "main": [[{ "node": "Switch Action", "type": "main", "index": 0 }]] },
    "Switch Action": { "main": [[{ "node": "Fetch Tasks", "type": "main", "index": 0 }], [{ "node": "Create Task", "type": "main", "index": 0 }], [{ "node": "Update Task", "type": "main", "index": 0 }], [{ "node": "Delete Task", "type": "main", "index": 0 }], [{ "node": "Error", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [],
  "triggerCount": 1
}
