nextcloud-update-task-workflow.json
{
  "name": "Nextcloud - Update Task",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nextcloud-update-task",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook - Update Task",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "update-task"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "nextcloud-url",
              "name": "nextcloudUrl",
              "value": "https://cloud.tal.ahmed-rezk.com",
              "type": "string"
            },
            {
              "id": "nextcloud-user",
              "name": "nextcloudUser",
              "value": "admin",
              "type": "string"
            }
          ]
        }
      },
      "id": "set-config",
      "name": "Set Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [470, 300]
    },
    {
      "parameters": {
        "jsCode": "// Build the ICS content for VTODO update\nconst body = $('Webhook - Update Task').first().json.body;\nconst nextcloudUrl = $('Set Config').first().json.nextcloudUrl;\nconst nextcloudUser = $('Set Config').first().json.nextcloudUser;\n\n// Required: taskUid\nif (!body.taskUid) {\n  return [{ json: { error: 'taskUid is required' } }];\n}\n\n// Format date to iCal format\nconst formatICalDate = (d) => {\n  const year = d.getUTCFullYear();\n  const month = String(d.getUTCMonth() + 1).padStart(2, '0');\n  const day = String(d.getUTCDate()).padStart(2, '0');\n  const hours = String(d.getUTCHours()).padStart(2, '0');\n  const minutes = String(d.getUTCMinutes()).padStart(2, '0');\n  const seconds = String(d.getUTCSeconds()).padStart(2, '0');\n  return `${year}${month}${day}T${hours}${minutes}${seconds}Z`;\n};\n\n// Parse date string to Date object\nconst parseDate = (dateStr) => {\n  if (!dateStr) return null;\n  const d = new Date(dateStr);\n  return isNaN(d.getTime()) ? null : d;\n};\n\nconst now = new Date();\nconst dtstamp = formatICalDate(now);\n\n// Build VTODO content\nconst lines = [];\nlines.push('BEGIN:VCALENDAR');\nlines.push('VERSION:2.0');\nlines.push('PRODID:-//n8n//Nextcloud//EN');\nlines.push('BEGIN:VTODO');\nlines.push(`UID:${body.taskUid}`);\nlines.push(`DTSTAMP:${dtstamp}`);\n\n// TITLE\nif (body.title !== undefined) {\n  lines.push(`SUMMARY:${body.title}`);\n}\n\n// DESCRIPTION\nif (body.description !== undefined) {\n  lines.push(`DESCRIPTION:${body.description}`);\n}\n\n// DUE\nif (body.due) {\n  const dueDate = parseDate(body.due);\n  if (dueDate) lines.push(`DUE:${formatICalDate(dueDate)}`);\n}\n\n// STATUS\nif (body.status) {\n  const statusMap = {\n    'todo': 'NEEDS-ACTION',\n    'in-progress': 'IN-PROCESS',\n    'completed': 'COMPLETED',\n    'cancelled': 'CANCELLED'\n  };\n  lines.push(`STATUS:${statusMap[body.status] || body.status}`);\n  \n  // If marking as completed, set completion date\n  if (body.status === 'completed' || body.status === 'COMPLETED') {\n    lines.push(`COMPLETED:${formatICalDate(now)}`);\n  }\n}\n\n// PRIORITY\nif (body.priority !== undefined && body.priority !== null) {\n  lines.push(`PRIORITY:${Math.min(9, Math.max(1, parseInt(body.priority)))}`);\n}\n\n// PERCENT-COMPLETE\nif (body.percentComplete !== undefined) {\n  lines.push(`PERCENT-COMPLETE:${Math.min(100, Math.max(0, parseInt(body.percentComplete)))}`);\n}\n\n// CATEGORIES\nif (body.categories) {\n  const cats = Array.isArray(body.categories) ? body.categories.join(',') : body.categories;\n  lines.push(`CATEGORIES:${cats}`);\n}\n\nlines.push('END:VTODO');\nlines.push('END:VCALENDAR');\n\nconst icsBody = lines.join('\\r\\n');\nconst taskUrl = `${nextcloudUrl}/remote.php/dav/calendars/${nextcloudUser}/tasks/${body.taskUid}.ics`;\n\nreturn [{\n  json: {\n    taskUrl,\n    icsBody,\n    taskUid: body.taskUid\n  }\n}];"
      },
      "id": "build-ics",
      "name": "Build ICS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $json.taskUrl }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/calendar",
        "body": "={{ $json.icsBody }}",
        "options": {}
      },
      "id": "update-task",
      "name": "Update Task in Nextcloud",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 300],
      "credentials": {
        "httpBasicAuth": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Nextcloud API"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first();\nconst body = $('Webhook - Update Task').first().json.body;\n\nif (response.json.statusCode === 201 || response.json.statusCode === 204 || !response.json.error) {\n  return [{\n    json: {\n      success: true,\n      message: 'Task updated successfully!',\n      task: {\n        uid: body.taskUid,\n        title: body.title || null,\n        status: body.status || null,\n        priority: body.priority || null,\n        percentComplete: body.percentComplete || null\n      }\n    }\n  }];\n} else {\n  return [{\n    json: {\n      success: false,\n      message: 'Failed to update task',\n      error: response.json\n    }\n  }];\n}"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1130, 300]
    }
  ],
  "connections": {
    "Webhook - Update Task": {
      "main": [
        [
          {
            "node": "Set Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Config": {
      "main": [
        [
          {
            "node": "Build ICS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build ICS": {
      "main": [
        [
          {
            "node": "Update Task in Nextcloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Task in Nextcloud": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1
}
